[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/NerdTree"]
	path = .vim/pack/plugins/start/NerdTree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/supertab"]
	path = .vim/pack/plugins/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/pack/plugins/start/easy_align"]
	path = .vim/pack/plugins/start/easy_align
	url = git@github.com:junegunn/vim-easy-align.git
